@import url("https://fonts.googleapis.com/css2?family=Headland+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
}
.container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 3fr;
}
nav {
  background-color: #f66767;
  grid-column: 1/2;
  grid-row: 1/-1;
  --nav-margin-left: 3rem;
}
header {
  background-color: #8accb3;
  grid-column: 2/-1;
}
main {
  background-color: #ddc173;
  grid-column: 2/-1;
}
.logo > img {
  height: 5.84rem;
  width: 5.84rem;
  margin-top: 50px;
}
.logo {
  display: flex;
  gap: 20px;
  font-size: 5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: var(--nav-margin-left);
}
.logo > p:hover {
  color: rgba(43, 42, 39, 0.946);
  cursor: pointer;
}
.links {
  display: grid;
  grid-template-columns: repeat(2, 50px);
  grid-template-rows: auto;
  font-size: 1.8rem;
  font-family: Poppins;
  font-weight: 600;
  place-content: flex-start;
  align-items: flex-end;
  margin-left: var(--nav-margin-left);
}
.links > img {
  margin-top: 18px;
  margin-bottom: 18px;
}
.down {
  margin-top: 60px;
}
.links > p:hover {
  cursor: pointer;
}

header {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: repeat(2, 130px);
  --margin-left-header: 4rem;
}
.search > img {
  width: 32px;
  height: 32px;
}
.search > input {
  height: 25px;
  border-radius: 13px;
  border: none;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: var(--margin-left-header);
  gap: 15px;
}

.greet-user {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: var(--margin-left-header);
  font-family: Poppins;
}
.pfp {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.small-text {
  margin-bottom: 0;
}
.big-text {
  font-size: 3.5rem;
  margin-top: 0;
  font-weight: 555;
}
.btn-group {
  display: flex;
  align-items: center;
  gap: 50px;
}
.btn-group > button {
  font-family: Poppins;
  padding: 15px;
  font-size: 2rem;
  border-radius: 15px;
  background-color: #f66767;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 3px;
}
.btn-group > button:hover {
  background-color: #eba796;
  cursor: pointer;
}

.group-1 {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  justify-content: flex-end;
}
.notif {
  width: 32px;
  height: 32px;
}
.group-1 > p {
  font-family: Poppins;
  font-weight: 500;
  font-size: 3rem;
  margin-right: 15rem;
}
.box {
  width: 97%;
  height: 100%;
  background-color: #ddc173;
  display: flex;
  gap: 20px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects {
  background-color: #ddc173;
  height: 100%;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr repeat(2, 1fr);
  grid-template-rows: 20px repeat(2, 1fr);
  gap: 10px;
}
.card {
  background-color: orangered;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.baby-card {
  padding-left: 20px;
  padding-right: 20px;
}
.vert-box {
  background-color: greenyellow;
  height: 100%;
  width: 30%;
}
.grid-text {
  grid-column: 1/-1;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 0;
  font-family: Poppins;
}
.icons {
  display: flex;
  justify-content: flex-end;
  margin: 0 16px;
  gap: 2rem;
  margin-bottom: 16px;
  margin-top: auto;
}
.card-icon {
  width: 25px;
  height: 25px;
}
.card-icon:hover {
  cursor: pointer;
}
.card-title {
  font-size: 2.6rem;
  font-weight: 800;
  font-family: Poppins;
  margin-bottom: 16px;
}
.card-text {
  font-size: 2rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 400;
  margin-top: 16px;
}
